        body {
            background:linear-gradient( #667eea 0%, #764ba2 50%);
            color: rgb(255, 255, 255);
            line-height: 2;
            font-family: "Times New Roman", "Verdana", sans-serif; 
            font-size: 20px;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(50px);
            border-radius: 20px;
            padding: 40px;
            box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
        }

        .header {
            text-align:center;
            margin-bottom: 50px;
        }

        .photo {
            width: 200px;
            height: 200px;
            margin: 0 auto ;
        }

        h1 {
            font-size: 25px;
            margin-bottom: 10px;
        }
        .section {
            margin-bottom: 30px;
        }

        h2 {
            border-bottom: 1px solid white;
            padding-bottom: 10px;
            margin-bottom: 15px;
            font-size:larger;
        }

        .skills {
            display:contents;
            flex-wrap:wrap-reverse;
            gap:initial;
        }

        .skill {
            background: rgba(255, 255, 255, 0.2);
            padding: 8px 15px;
            border-radius: 20px;
            font-size: 0.9em;
        }
        .contact-list li {
            margin-bottom: 10px;
            display: flex;
            align-items: center;
        }

        a {
            color: #0cd6dd;
            text-decoration: none;
        }

        a:hover {
            color: #070808;
            text-decoration: underline;
        }